{sub_dirs, ["deps", "rel"]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
  {recon, ".*", {git, "https://github.com/ferd/recon.git", {tag, "2.2.1"}}},
  {lucet, ".*", {git, "https://github.com/FlowForwarding/lucet.git",
                 {branch, "master"}}},
  {flowcompiler, ".*", {git, "https://github.com/FlowForwarding/weave.git",
                 {branch, "master"}}}]
}.

{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
