{sub_dirs, ["rel"]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
  {recon, ".*", {git, "https://github.com/ferd/recon.git", {tag, "2.2.1"}}},
  %% The [raw] option makes that the dobby is not treated as regular dependency
  %% and retool doesn't complain
  {dobby, ".*", {git, "https://github.com/FlowForwarding/dobby.git",
                 {branch, "master"}}, [raw]},
  {lucet, ".*", {git, "https://github.com/FlowForwarding/lucet.git",
                 {branch, "master"}}},
  {erl_sshd, ".*", {git, "git@github.com:marcsugiyama/erl_sshd.git",
                    {branch, 'master'}}}]
}.

{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
